<% include ../header.ejs %>
    <form action="" method="post">
        <table class="table table-bordered">
            <tr>
                <th>작성자</th>
                <td><input type="text" name="name" class="form-control"/></td>
            </tr>
            <tr>
                <th>제목</th>
                <td><input type="text" name="title" class="form-control"/></td>
            </tr>
            <tr>
                <th>설명</th>
                <td><input type="text" name="description" class="form-control"/></td>
            </tr>
        </table>
        <button class="btn btn-primary">작성하기</button>
    </form>

<% include ../footer.ejs %>